<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin-commen :: commenheader">
    <title>User</title>
</head>
<body>
<div th:replace="admin-commen :: commentop"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="admin-commen :: commenleft"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/admin/get/page}" th:method="post" class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <label>
                                    <input class="form-control has-success" th:name="keyword" type="text" placeholder="请输入查询条件">
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>
                    </form>
                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i class=" glyphicon glyphicon-remove"></i> 删除</button>
                    <a th:href="@{/admin/to/add/page}" class="btn btn-primary" style="float:right;" ><i class="glyphicon glyphicon-plus"></i> 新增</a>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr >
                                <th width="30">#</th>
                                <th width="30"><input th:type="checkbox"></th>
                                <th>账号</th>
                                <th>名称</th>
                                <th>邮箱地址</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${pageInfo.list}==null">
                                <td colspan="6" align="center">抱歉！没有查询到您想要的数据</td>
                            </tr>
                            <tr th:if="${pageInfo.list}!=null" th:each="admin,stat:${pageInfo.list}">
                                <td th:text="${stat.count}">1</td>
                                <td><label>
                                    <input type="checkbox">
                                </label></td>
                                <td th:text="${admin.login}">Lorem</td>
                                <td th:text="${admin.userName}">ipsum</td>
                                <td th:text="${admin.email}">dolor</td>
                                <td>
                                    <a th:href="@{/assign/to/assign/role/page(adminId=${admin.id},pageNum=${pageInfo.pageNum},keyword=${keyword})}" class="btn btn-success btn-xs"><i class=" glyphicon glyphicon-check"></i></a>
                                    <a th:href="@{/admin/to/edit/page(adminId=${admin.id},pageNum=${pageInfo.pageNum},keyword=${keyword})}" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></a>
                                    <a th:href="@{/admin/remove(adminId=${admin.id},pageNum=${pageInfo.pageNum},keyword=${keyword})}" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
                                    <div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin-commen :: commenjs"></div>
<script th:src="@{/jquery/jquery.pagination.js}"></script>
<link rel="stylesheet" th:href="@{/css/pagination.css}">
<script th:inline="javascript">
    $(function (){
        // 调用后面声明的函数对页码导航条进行初始化操作
        initPagination();
    });
    function initPagination() {
        // 获取总记录数
        var totalRecord = [[${pageInfo.total}]];
        // 声明一个JSON对象存储Pagination要设置的属性
        var properties = {
            num_edge_entries: 3, // 边缘页数
            num_display_entries: 5, // 主体页数
            callback: pageSelectCallback,
            items_per_page:[[${pageInfo.pageSize}]], // 每页显示1项
            current_page: [[${pageInfo.pageNum - 1}]], // Pagination内部使用pageIndex来管理页码，从0开始，而pageNum从1开始
            prev_text: "上一页",
            next_text: "下一页"
        };
        // 生成页码导航条
        $("#Pagination").pagination(totalRecord, properties);
    }
    // 用户点击页码时调用该函数实现跳转
    function pageSelectCallback(pageIndex,jQuery) {
        // 根据pageIndex计算得到pageNum
        var pageNum = pageIndex + 1;
        // 跳转页码
        window.location.href = "/atcrowd/admin/get/page?pageNum="+pageNum+"&keyword="+[[${keyword}]];//路径不明白
        // 由于每一个页码按钮都是超链接，所以在这个函数最后取消超链接的默认行为
        return false;
    }
</script>
</body>
</html>
